---
import Lightbox from "@components/Lightbox";
import TitleHeading from "@components/TitleHeading.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { IoCartOutline } from "react-icons/io5";

export async function getStaticPaths() {
  const datas = await fetch(
    "https://furniture-katalog.vercel.app/data.json"
  ).then((res) => res.json());

  return datas.map((data: any) => ({
    params: { slug: data.slug },
    props: { data },
  }));
}

const { slug } = Astro.params;

const data = await fetch("https://furniture-katalog.vercel.app/data.json").then(
  (res) => res.json()
);

const myData = data.find((entry: any) => entry.slug === slug);

if (!myData) {
  return Astro.redirect("/404");
}

const content: any = myData;

export const prerender = false;
---

<MainLayout pageTitle={content.title}>
  <div class="h-12"></div>
  <TitleHeading title={content.title} />
  <div class="grid sm:grid-cols-3 grid-cols-1 mt-4 gap-4">
    <div class="col-span-1 mx-auto max-w-[300px] grid gap-y-2 w-full h-full">
      <div class="overflow-hidden">
        <Lightbox
          client:idle
          images={[{ url: content.picture[0] }]}
          title={content.title}
        />
        <!-- <Image
          src={content.picture[0]}
          alt={`${content.title}-main`}
          width={400}
          height={400}
          loading={"lazy"}
          class="aspect-square object-cover w-full h-full hover:scale-[102%] duration-300"
        /> -->
      </div>
      <div>
        {
          content.picture.length >= 4 ? (
            <div class="grid grid-flow-col auto-cols-[33.33%] gap-x-2 overflow-x-scroll custom-scrollbar">
              <Lightbox
                client:idle
                images={content.picture.map((url: string) => ({ url }))}
                title={content.title}
              />
            </div>
          ) : (
            <div class="grid grid-cols-3 gap-x-2 overflow-hidden">
              <Lightbox
                client:idle
                images={content.picture.map((url: string) => ({ url }))}
                title={content.title}
              />
            </div>
          )
        }
      </div>
    </div>
    <div
      class="container col-span-2 sm:mt-0 mt-4 h-full flex flex-col justify-between"
    >
      <div>
        <p class="font-bold tracking-tight text-slate-600 list-item">
          Harga :
          <span
            class="text-teal-600 inline-block after:content-[''] after:block after:border-b-2 after:border-b-slate-300 w-fit"
          >
            Rp. {content.harga}
          </span>
        </p>
        <div>
          <p class="font-bold tracking-tight text-slate-600 list-item">
            Deskripsi
          </p>
          <p class="text-slate-600 text-sm">
            {content.deskripsi}
          </p>
        </div>
      </div>

      <!-- Dropdown menu -->
      <div class="relative inline-block">
        <button
          id="dropdownDefaultButton"
          class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2.5 text-center inline-flex items-center"
          type="button"
        >
          <IoCartOutline className="inline-block me-1" /> Order
        </button>

        <!-- Dropdown menu -->
        <div
          id="dropdown"
          class="z-10 hidden absolute bottom-full mb-2 bg-gray-200 divide-y divide-gray-100 rounded-lg shadow w-44"
        >
          <ul
            class="py-2 text-sm text-gray-700"
            aria-labelledby="dropdownDefaultButton"
          >
            <li>
              <a
                href="https://shopee.co.id/"
                target="_blank"
                referrerpolicy="no-referrer"
                class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                >Shopee</a
              >
            </li>
            <li>
              <a
                href="https://tokopedia.com/"
                target="_blank"
                referrerpolicy="no-referrer"
                class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                >Tokopedia</a
              >
            </li>
            <li>
              <a
                href={`https://wa.me/628212345678/?text=Hi%20Admin%20Moluska%20Saya%20mau%20tanya%20tentang%20${content.title || ""}`}
                class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                >Chat Admin</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="flex gap-2">
        <a
          class="mt-8 inline-flex items-center text-center w-fit px-4 py-2 bg-teal-900 hover:bg-teal-700 text-white rounded-lg font-semibold self-start"
          href={`https://wa.me/628212345678/?text=Hi%20Admin%20Moluska%20Saya%20mau%20tanya%20tentang%20${content.title || ""}`}
          target="_blank"
        >
          <IoCartOutline className="inline-block me-1" />
          Shopoo
        </a>
        <a
          class="mt-8 inline-flex items-center text-center w-fit px-4 py-2 bg-teal-900 hover:bg-teal-700 text-white rounded-lg font-semibold self-start"
          href={`https://wa.me/628212345678/?text=Hi%20Admin%20Moluska%20Saya%20mau%20tanya%20tentang%20${content.title || ""}`}
          target="_blank"
        >
          <IoCartOutline className="inline-block me-1" />
          Tokopakedi
        </a>
        <a
          class="mt-8 inline-flex items-center text-center w-fit px-4 py-2 bg-teal-900 hover:bg-teal-700 text-white rounded-lg font-semibold self-start"
          href={`https://wa.me/628212345678/?text=Hi%20Admin%20Moluska%20Saya%20mau%20tanya%20tentang%20${content.title || ""}`}
          target="_blank"
        >
          <IoCartOutline className="inline-block me-1" />
          Order
        </a>
      </div> -->
    </div>
  </div>
</MainLayout>

<style>
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #a0aec0 transparent; /* Color for Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 4px; /* Scrollbar height */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Track background */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a0aec0; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
    border: none; /* Optional for no border */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #718096; /* Thumb color on hover */
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const dropdownButton = document.getElementById(
      "dropdownDefaultButton"
    ) as HTMLElement;
    const dropdownMenu = document.getElementById("dropdown") as HTMLElement;

    dropdownButton.addEventListener("click", () => {
      dropdownMenu.classList.toggle("hidden");
    });

    // Close the dropdown if clicked outside
    document.addEventListener("click", (event: any) => {
      if (
        !dropdownButton.contains(event.target) &&
        !dropdownMenu.contains(event.target)
      ) {
        dropdownMenu.classList.add("hidden");
      }
    });
  });
</script>
